<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">
	<!-- <resultMap type="User" id="userResultMap">
		<id property="userId" column="id" />
		<id property="userName" column="username" />
		<id property="userBirthday" column="birthday" />
		<id property="userSex" column="sex" />
		<id property="userAddress" column="address" />
	</resultMap> -->
	
	<select id="findAll" resultType="User" >
		select * from user
	</select>
</mapper>
